<%- include('../partials/header')%>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin">E-Commerce | Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">Signup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/login">Admin Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/admin/signup">Admin Signup</a>
              </li>
        </ul>

        <div class="role-badge">
            <h5><span class="badge bg-primary">Admin</span></h5>
        </div>
    </div>
  </nav>

<div class="container">
    <div class="row">

        <div class="col-lg-3">            
        </div>
        
        <div class="col-lg-6">
                <h4 class="text-center mt-4 mb-4">Login to your admin account</h4>

                <% if(messages.hasOwnProperty('error')) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= messages['error'][0] %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>
            
                <% if(messages.hasOwnProperty('success')) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <%= messages['success'][0] %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>

                <form action="/admin/login" method="POST">
                    
                    <div class="mb-3 logincontainer">
                        <input type="text" class="form-control" name="username" id="" placeholder="Username">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" id="" placeholder="Password">
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>

            </div>

            <div class="col-lg-3">
            </div>
        </div>
    </div>
    
<%- include('../partials/footer')%>