<%- include('../partials/header')%>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">E-Commerce | Admin</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="bi bi-house-door-fill"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/login"><i class="bi bi-person-circle"></i> Admin Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/signup"><i class="bi bi-person-plus"></i> Admin Signup</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container">
    <div class="row">

        <div class="col-lg-3">            
        </div>
        
        <div class="col-lg-6">
                <h4 class="text-center mt-4 mb-4">Login to your admin account</h4>

                <% if(messages.hasOwnProperty('error')) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= messages['error'][0] %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>
            
                <% if(messages.hasOwnProperty('success')) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <%= messages['success'][0] %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>

                <form action="/admin/login" method="POST">
                    
                    <div class="mb-3 logincontainer">
                        <input type="text" class="form-control" name="username" id="" placeholder="Username">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" id="" placeholder="Password">
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                    
                    <div class="auth-form-footer mt-4">
                        <p>Are you a customer? <a href="/login">Login here</a></p>
                    </div>
                </form>

            </div>

            <div class="col-lg-3">
            </div>
        </div>
    </div>
    
<%- include('../partials/footer')%>