<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin">E-Commerce | Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/admin/view"><i class="bi bi-box-fill"></i> Manage Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/add"><i class="bi bi-plus-circle-fill"></i> Add Product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/orders/pending"><i class="bi bi-bag-dash-fill"></i> Manage Pending Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/orders/completed"><i class="bi bi-bag-check-fill"></i> View Completed Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
              </li>
        </ul>
    </div>
  </nav>