<%- include('./partials/header') %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">E-Commerce</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="bi bi-house-door-fill"></i> Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<main>
    <h2 class="text-center mt-4 mb-4">Select your Role.</h2>

    <div class="roles">
        <div class="role-card">
            <a href="/login">
                <h4>User</h4>
                <img src="/images/user.png" alt="" height="250">
            </a>
        </div>
        <div class="role-card">
            <a href="/admin">
                <h4>Admin</h4>
                <img src="/images/admin.png" alt="" height="250">
            </a>
        </div>
    </div>
</main>

<%- include('./partials/footer') %>